@(lists: List[Account])(teams: List[Team])(types: List[UserType])
@main("Account")(css) {

    <div class="uk-grid uk-margin-large-top uk-margin-bottom">
        <div class="uk-width-9-10 uk-container-center">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-form">
                    <div class="uk-panel" style="display: block; text-align: right;">
                        <a href="@controllers.admin.routes.Menu.menu()" class="uk-button ui-text-white ui-button ui-redpink" style=" border-width : 0; ">Back</a>
                    </div>
                    <fieldset data-uk-margin>
                        <legend class="uk-margin-bottom-remove">Account</legend>
                        <ul class="uk-tab">
                            <li><a href="@controllers.admin.routes.Account.addAccount()">Add</a></li>
                            <li><a href="@controllers.admin.routes.Account.deleteAccount()">Delete</a></li>
                            <li><a href="@controllers.admin.routes.Account.listAccount()">List</a></li>
                            <li class="uk-active"><a href="@controllers.admin.routes.Account.edit()">Edit</a></li>
                        </ul>
                    </fieldset>

                    <div class="uk-margin-top">
                        <input type="text" placeholder="search" onkeyup="search(this)">
                    </div>

                    <table class="uk-table uk-table-striped uk-table-hover">
                        <col width="50px">
                        <col>
                        <col>
                        <col>
                        <col width="180px">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>Team</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table">
                        @lists.map { list=>
                            <tr id="@list.id">
                                <td id="no_@list.id"></td>
                                <td id="data_@list.id">
                                    <div  class="uk-form uk-form-stacked">
                                        <div class="uk-form-row">
                                            <div id="name_@list.id">@list.name</div>
                                            <div id='info_@list.id' style="display: none;">
                                                <label class="uk-form-label uk-margin-top">Email</label>
                                                <div class="uk-form-controls">
                                                    <input id='email_@list.id' type="text" value="@list.email" placeholder="URL">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="lastname_@list.id">@list.lastname</div>
                                    <div id='info2_@list.id' style="display: none;">
                                        <label class="uk-form-label uk-margin-top">Password</label>
                                        <div class="uk-form-controls">
                                            <input id='password_@list.id' type="text" placeholder="Type new password">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                @if(list.team == null){
                                    <div id="team_@list.id">NULL</div>
                                }else {
                                    <div id="team_@list.id">@list.team.name</div>
                                }
                                <div id='user_type_@list.id' style="display : none ;">
                                    <label class="uk-form-label uk-margin-top">User Type</label>
                                    <div class="uk-form-controls">
                                        <select>
                                            @types.map { type1=>
                                                <option>@type1.name</option>
                                            }
                                        </select>
                                    </div>
                                    <script>
                                        $('#user_type_' + @list.id+' div select').val("@list.getType.name");

                                    </script>

                                </div>



                                </td>
                                <td style="text-align: right">
                                    <a id="edit_@list.id" class = "uk-width-4-10 uk-button ui-eucalyptus ui-text-white" onclick="edit(@list.id)">Edit</a>
                                    <a id="save_@list.id" class = "uk-width-4-10 uk-button ui-eucalyptus ui-text-white" onclick="save(@list.id)" style="display: none">Save</a>
                                    <a id="cancel_@list.id" class = "uk-width-4-10 uk-button ui-darkorange ui-text-white" onclick="cancel(@list.id)" style="display: none">Cancel</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <script>
    var count = 0;
    var size = @lists.size;
        @lists.map { list=>
        $('#no_'+@list.id).text(++count + '.');
        }
    function edit(id){
    var temp = '<label class="uk-form-label">Name</label>';
    temp += '<div class="uk-form-controls">';
    temp += '<input type="text" value="'+ $('#name_'+id).text() +'">';
    temp += '</div>';
    $('#name_'+id).html(temp);

    var temp = '<label class="uk-form-label">Lastname</label>';
    temp += '<div class="uk-form-controls">';
    temp += '<input type="text" value="'+ $('#lastname_'+id).text() +'">';
    temp += '</div>';
    $('#lastname_'+id).html(temp);

    var value = $('#team_'+id).text();
    var temp = '<label class="uk-form-label">Team</label>';
    temp += '<div class="uk-form-controls">';
    temp += '<select>';
    temp += '<option>NULL</option>';
    @teams.map { team=>
        temp += '<option>@team.name</option>';
    }
    temp += '</select>';
    temp += '</div>';
    $('#team_'+id).html(temp);


    if (value == null){
        $('#team_'+id+' select').val("NULL");
    }
    else{
        $('#team_'+id+' select').val(value);
    }


    $('#info_'+id).show();
    $('#user_type_'+id).show();
    $('#info2_'+id).show();
    $('#save_'+id).show();
    $('#cancel_'+id).show();
    $('#edit_'+id).hide();
    }

    function cancel(id){
    $('#name_'+id).html($('#name_'+id+' input').val());
    $('#lastname_'+id).html($('#lastname_'+id+' input').val());
    $('#team_'+id).html($('#team_'+id+' select option:selected').val());
    $('#user_type_'+id).hide();
    $('#info_'+id).hide();
    $('#info2_'+id).hide();
    $('#save_'+id).hide();
    $('#cancel_'+id).hide();
    $('#edit_'+id).show();
    }

    function save(id){
    var data = {};
    data["id"] = id ;
    data["name"] =  $('#name_'+id+' input').val();
    data["lastname"] = $('#lastname_'+id+' input').val();
    data["password"] = $('#password_'+id).val();
    data["team"] = $('#team_'+id+' select option:selected').val();
    data["email"] = $('#email_'+id).val();
    data["userType"] = $('#user_type_'+id+' div select option:selected').val();
    $.post("@controllers.admin.routes.Account.edit()",data).done(function(data){
    UIkit.notify(data.text, {status : data.type , timeout : 5000});
    if (data.type == 'success'){
    cancel(id);
    }
    });
    }

    function search(obj){
    var data = {};
    data["input"] = $(obj).val();
    data["page"] = "edit";
    $.post("@controllers.admin.routes.Account.search()", data).done(function(output){
    $('#table').html(output);
    });
    }
    </script>

}

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("uikit-2.17.0/css/components/notify.almost-flat.min.css")">
    <script src="@routes.Assets.at("uikit-2.17.0/js/components/notify.min.js")" type="text/javascript"></script>

}