@(lists: List[Team])
@main("Team")(css) {

    <div class="uk-grid uk-margin-large-top uk-margin-bottom">
        <div class="uk-width-9-10 uk-container-center">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-form">
                    <div class="uk-panel" style="display: block; text-align: right;">
                        <a href="@controllers.admin.routes.Menu.menu()" class="uk-button ui-text-white ui-button ui-redpink" style=" border-width : 0; ">Back</a>
                    </div>
                    <fieldset data-uk-margin>
                        <legend class="uk-margin-bottom-remove">Team</legend>
                        <ul class="uk-tab">
                            <li><a href="@controllers.admin.routes.Team.listTeam()">List</a></li>
                            <li><a href="@controllers.admin.routes.Team.addTeam()">Add</a></li>
                            <li class="uk-active"><a href="@controllers.admin.routes.Team.edit()">Edit</a></li>
                            <li><a href="@controllers.admin.routes.Team.deleteTeam()">Delete</a></li>

                        </ul>
                    </fieldset>

                    <div class="uk-margin-top">
                        <input type="text" placeholder="search" onkeyup="search(this)">
                    </div>

                    <table class="uk-table uk-table-striped uk-table-hover">
                        <col width="50px">
                        <col>
                        <col width="80px">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Team</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table">
                        @lists.map { list=>
                            <tr id="@list.id">
                                <td id="no_@list.id"></td>
                                <td id="data_@list.id">
                                    <div  class="uk-form uk-form-stacked">
                                        <div class="uk-form-row">
                                            <div id="name_@list.id">@list.name</div>
                                            <div id='info_@list.id' style="display: none;">
                                                <label class="uk-form-label uk-margin-top">Description</label>
                                                <div class="uk-form-controls">
                                                    <textarea class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10" id='description_@list.id' rows="5" cols="20" placeholder="Text">@list.description</textarea>
                                                </div>
                                                <label class="uk-form-label uk-margin-top">Logo</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10" id='logo_@list.id' type="text" value="@list.logo" placeholder="URL">
                                                </div>

                                                <label class="uk-form-label uk-margin-top">Screenshot</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10 " id="img1_@list.id" type="text" placeholder="URL image 1"><br>
                                                    <input class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10 " id="img2_@list.id" type="text" placeholder="URL Image 2"><br>
                                                    <input class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10 " id="img3_@list.id" type="text" placeholder="URL Image 3"><br>
                                                    <input class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10 " id="img4_@list.id" type="text" placeholder="URL Image 4"><br>
                                                </div>
                                                @defining(Screenshot.getURL(list.id)){images=>
                                                    <script>
                                                var i = 0;
                                                @images.map { image =>
                                                     $('#img'+ ++i +'_@list.id').val('@image.url');
                                              }
                                                    </script>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: right">
                                    <a id="edit_@list.id" class = "uk-width-1-1 uk-button ui-eucalyptus ui-text-white" onclick="edit(@list.id)">Edit</a>
                                    <a id="save_@list.id" class = "uk-width-1-1 uk-button ui-eucalyptus ui-text-white" onclick="save(@list.id)" style="display: none">Save</a>
                                    <a id="cancel_@list.id" class = "uk-margin-small-top uk-width-1-1 uk-button ui-darkorange ui-text-white" onclick="cancel(@list.id)" style="display: none">Cancel</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <script>
    var count = 0;
    var size = @lists.size;
    @lists.map { list=>
        $('#no_'+@list.id).text(++count + '.');
    }
    function edit(id){
        var temp = '<label class="uk-form-label">Name</label>';
        temp += '<div class="uk-form-controls">';
        temp += '<input class="uk-width-small-1-1 uk-width-medium-4-5 uk-width-large-7-10" type="text" value="'+ $('#name_'+id).text() +'">';
        temp += '</div>';
        $('#name_'+id).html(temp);
        $('#info_'+id).show();
        $('#save_'+id).show();
        $('#cancel_'+id).show();
        $('#edit_'+id).hide();
    }

    function cancel(id){
        $('#name_'+id).html($('#name_'+id+' input').val());
        $('#info_'+id).hide();
        $('#save_'+id).hide();
        $('#cancel_'+id).hide();
        $('#edit_'+id).show();
    }

    function save(id){
        var data = {};
        data["id"] = id ;
        data["name"] =  $('#name_'+id+' input').val();
        data["description"] = $('#description_'+id).val();
        data["logo"] = $('#logo_'+id).val();
        data["image1"] = $('#img1_'+id).val();
        data["image2"] = $('#img2_'+id).val();
        data["image3"] = $('#img3_'+id).val();
        data["image4"] = $('#img4_'+id).val();
        $.post("@controllers.admin.routes.Team.edit()",data).done(function(data){
            UIkit.notify(data.text, {status : data.type , timeout : 5000});
            if (data.type == 'success'){
              cancel(id);
            }
        });
    }

     function search(obj){
            var data = {};
            data["input"] = $(obj).val()
            $.post("@controllers.admin.routes.Team.search()", data).done(function(output){
              var temp = "";
              for (var i=0;i<output.data.length;i++){
                temp += '<tr id="'+output.data[i].id+'">';
                temp += '<td id="no_"'+output.data[i].id+'">'+(i+1)+'</td>';
                temp += '<td id="data_"'+output.data[i].id+'">';
                temp += '<div class="uk-form uk-form-stacked">';
                temp += '<div class="uk-form-row">';
                temp += '<div id="name_'+output.data[i].id+'">'+output.data[i].name+'</div>';
                temp += '<div id="info_'+output.data[i].id+'" style="display: none;">';
                temp += '<label class="uk-form-label uk-margin-top">Description</label>';
                temp += '<div class="uk-form-controls">';
                temp += '<textarea readonly id="description_'+output.data[i].id+'" rows="5" cols="20" placeholder="Text">'+output.data[i].description+'</textarea>';
                temp += '</div>';
                temp += '<label class="uk-form-label uk-margin-top">Logo</label>';
                temp += '<div class="uk-form-controls">';
                temp += '<input readonly id="logo_'+output.data[i].id+'" type="text" value="'+output.data[i].logo+'" placeholder="URL">';
                temp += '</div>';
                temp += '<label class="uk-form-label uk-margin-top">Screenshot</label>';
                temp += '<div class="uk-form-controls">';
                temp += '<input readonly id="img1_'+output.data[i].id+'" type="text" placeholder="URL image 1" value="'+ output.data[i].images[0] +'"><br>';
                temp += '<input readonly id="img2_'+output.data[i].id+'" type="text" placeholder="URL image 2" value="'+ output.data[i].images[1] +'"><br>';
                temp += '<input readonly id="img3_'+output.data[i].id+'" type="text" placeholder="URL image 2" value="'+ output.data[i].images[2] +'"><br>';
                temp += '<input readonly id="img4_'+output.data[i].id+'" type="text" placeholder="URL image 2" value="'+ output.data[i].images[3] +'"><br>';
                temp += '</div>';
                temp += '</div>';
                temp += '</div>';
                temp += '</div>';
                temp += '</td>';
                temp += '<td style="text-align: right">';
                temp += '<a id="edit_'+output.data[i].id+'" class = "uk-button ui-eucalyptus ui-text-white" onclick="edit('+output.data[i].id+')">Edit</a>';
                temp += '<a id="save_'+output.data[i].id+'" class = "uk-button ui-eucalyptus ui-text-white" onclick="save('+output.data[i].id+')" style="display: none">Save</a>';
                temp += '<a id="cancel_'+output.data[i].id+'" class = "uk-button ui-darkorange ui-text-white" onclick="cancel('+output.data[i].id+')" style="display: none">Cancel</a>';
                temp += '</td>';
                temp += '</tr>';
              }
              $('#table').html(temp);
            });
        }
    </script>

}

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("uikit-2.17.0/css/components/notify.almost-flat.min.css")">
    <script src="@routes.Assets.at("uikit-2.17.0/js/components/notify.min.js")" type="text/javascript"></script>

}