@(lists: List[Account])

@lists.map { list=>
    <tr id="@list.id">
        <td id="no_@list.id"></td>
        <td id="data_@list.id">
            <div  class="uk-form uk-form-stacked">
                <div class="uk-form-row">
                    <div id="name_@list.id">@list.name</div>
                    <div id='info_@list.id' style="display: none;">
                        <label class="uk-form-label uk-margin-top">Password</label>
                        <div class="uk-form-controls">
                            <input id='password_@list.id' type="text" value="@list.password" placeholder="URL">
                        </div>
                        @defining(Screenshot.getURL(list.id)){images=>
                            <script>
                            var i = 0;
                                @images.map { image =>
                                $('#img'+ ++i +'_@list.id').val('@image.url');
                                }
                            </script>
                        }
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div id="lastname_@list.id">@list.lastname</div>
        </td>
        <td style="text-align: right">
            <a id="edit_@list.id" class = "uk-button ui-eucalyptus ui-text-white" onclick="edit(@list.id)">Edit</a>
            <a id="save_@list.id" class = "uk-button ui-eucalyptus ui-text-white" onclick="save(@list.id)" style="display: none">Save</a>
            <a id="cancel_@list.id" class = "uk-button ui-darkorange ui-text-white" onclick="cancel(@list.id)" style="display: none">Cancel</a>
        </td>
    </tr>
}
<script>
    var count = 0;
    var size = @lists.size;
@lists.map { list=>
$('#no_'+@list.id).text(++count + '.');
}
    </script>