html, body{
    background: #2C3E50;
}
.ui-red{
    background: #c0392b;
    border-radius: 0px;
    border-width: 0px;
}
.ui-yellow{
    background: #f1c40f;
    border-radius: 0px;
    border-width: 0px;
}
.ui-green{
    background: #27ae60;
    border-radius: 0px;
    border-width: 0px;
}
