html, body{
    background: #2C3E50;
    font-family: 'Signika', sans-serif;
}
.ui-red{
    background: #c0392b;
}
.ui-yellow{
    background: #f1c40f;
}
.ui-green{
    background: #27ae60;
}
.ui-black{
    background: #141414;
}
a{
    color: #ffffff;
}
a:hover{
    color: #d3d3d3;
}
.ui-text-white{
    color: #ffffff;
}
.ui-limegreen{
    background: limegreen;
}
.ui-dodgerblue{
    background: dodgerblue;
}
.ui-darkorange{
    background: darkorange;
}
.ui-darkviolet{
    background: #a94442;
}
.ui-redpink{
    background: #da314b;
}
.ui-button:hover{
    color: #ffffff;
    background-color: #7f8c8d;
}
.ui-mountain-meadow{
    background: #1BBC9B;
}

.ui-hoki{
    background: #67809F;
}
.border-zero-width{
    border-width: 0px;
}

.ui-eucalyptus{
    background: #26A65B;
}