@(form: Form[forms.EditDescription])(name: String)(uploadLogo: Boolean)(uploadScreenshot: Boolean)(team: Team)
@main("Edit team description")(css) {
    <form id="form" action="@controllers.user.routes.Team.editDescription()" method="post">

        <div class="uk-grid uk-grid-small uk-margin-large-top" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">

                <div class="uk-panel uk-panel-box">
                    <div class="uk-form">

                        <fieldset data-uk-margin>
                            <legend>Edit @name description</legend>
                            @if(form.hasGlobalErrors) {
                                <div class="uk-alert uk-alert-danger">
                                @form.globalError.message
                                </div>
                            }
                            <div class="uk-text-center">
                                <div class="uk-grid uk-grid-small uk-margin-small-top">
                                    <div class="uk-panel uk-width-5-10">
                                        <a id='link_logo' href="@controllers.user.routes.Upload.uploadLogo()" class="uk-button uk-icon-image uk-margin-small-bottom ui-text-white ui-button ui-hoki" style="width : 100% ; font-size : 500% ; padding : 12px ;">
                                            <div id='text_logo' class="uk-text-bottom" style="color : #ffffff ; font-size : 20% ; font-family : 'Signika', sans-serif ;">
                                                Logo</div>
                                        </a>
                                    </div>
                                    <div class="uk-panel uk-width-5-10">
                                        <a id='link_screenshot' href="@controllers.user.routes.Upload.uploadScreenshot()" class="uk-button uk-icon-image uk-margin-small-bottom ui-text-white ui-button ui-mountain-meadow" style="width : 100% ; font-size : 500% ; padding : 12px ;">
                                            <div id='text_screenshot' class="uk-text-bottom" style="color : #ffffff ; font-size : 20% ; font-family : 'Signika', sans-serif ;">
                                                Screenshot</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <textarea name="content" rows="5" cols="" class="uk-width-1-1 uk-height-1-1" placeholder="Write here">@team.description</textarea>
                            </div>
                        </fieldset>

                    </div>
                </div>

            </div>
        </div>
        <div class="uk-grid uk-grid-small uk-margin-small" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom uk-button-large" type="submit">Save</button>
            </div>
        </div>

        <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-large-bottom" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">
                <a class="uk-button uk-button-large uk-width-1-1" href="@controllers.user.routes.Menu.mainMenu">Back</a>
            </div>
        </div>
    </form>

    <script>
        if (!@uploadLogo){
            $('#link_logo').click(function(){
                return false;
            });
            $('#text_logo').text("Logo (Disable)");
        }


        if (!@uploadScreenshot){
            $('#link_screenshot').click(function(){
                return false;
            });
            $('#text_screenshot').text("Screenshot (Disable)");
        }

        $('#form').submit(function( event ) {
            event.preventDefault();
            $.post('@controllers.user.routes.Team.editDescription()', $( this ).serialize()).
            done(function(data){
                UIkit.notify(data.text, {status : data.type , timeout : 5000});
                if(data.type == 'success'){
                    setTimeout(function() {
                        window.location.replace ( "@controllers.user.routes.Menu.mainMenu()");
                    }, 2000);
                }
            });
        });
    </script>
}
@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("uikit-2.17.0/css/components/notify.almost-flat.min.css")">
    <script src="@routes.Assets.at("uikit-2.17.0/js/components/notify.min.js")" type="text/javascript"></script>
}
