@(form: Form[forms.Login])(createAccount: Boolean)(createTeam: Boolean)

@main("Welcome to Exceed Vote")(css) {
    <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center" style="text-align: center; color: #ffffff">
            <h1 class="uk-display-inline-block" style="color: #ffffff;margin-bottom: 30px;">Exceed Vote</h1>
        </div>
    </div>
    <form action="@controllers.user.routes.Account.login()" method="post">
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            @if(form.hasGlobalErrors) {
                <div class="uk-alert uk-alert-danger">
                @form.globalError.message
                </div>
            }
                <div class="uk-panel uk-panel-box">

                    <div class="form-group">
                        Username
                        <input class="form-control" type="text" name="email">
                    </div>
                    <div class="form-group">
                        Password
                        <input class="form-control uk-margin-small-bottom" type="password" name="password">
                    </div>
                </div>

        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">Login</button> </div>
    </div>

        @if(createAccount) {
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-9-10 uk-container-center">
                    <a id='link_register' class="uk-button uk-button-large uk-width-1-1" href="@controllers.user.routes.Account.regis()">
                        <div id='text_register'>Register</div>
                    </a>
                </div>
            </div>
        }
        @if(createTeam) {
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-9-10 uk-container-center">
                    <a id='link_create_team' class="uk-button uk-button-large uk-width-1-1" href="@controllers.user.routes.Team.createTeam">
                        <div id='text_create_team'>Create a team</div>
                    </a>
                </div>
            </div>
        }
    </form>



}

@css = {

}