@(message: String)(team: Team)(teamList: Boolean)(editDescription: Boolean)(ratingResult: Boolean)(vote: Boolean)(voteResult: Boolean)(dateTime: String)

@main("Main menu")(css) {
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box" style="border-color: inherit ;background: #000000; ;color: #ffffff">Username: @message</div>
        </div>
    </div>
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box uk-text-center" style="border-color: inherit ;background: #ffffff; color: #000000; font-size: 400%">
                <div id="clock"></div>
                <script>
                $ ( '#clock' ).countdown ( "@dateTime", function ( event ) {
                var totalHours = event.offset.totalDays * 24 + event.offset.hours ;
                $ ( this ).html ( event.strftime ( totalHours + ' : %M : %S') ) ;
                } ) ;
                </script>
            </div>
        </div>
    </div>

    <div class="uk-text-center">
        <div class="uk-grid uk-margin-top">
            <div class="uk-panel uk-width-1-1">
                <a id='link_team_list' href="@controllers.user.routes.Team.teamList" class="uk-button uk-width-1-1 uk-icon-group uk-margin-small-bottom ui-text-white ui-button ui-darkorange" style="font-size: 500%; padding: 20px;">
                <div id='text_team_list' class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">Select Team</div>
                </a>
            </div>
        </div>
    </div>

    @if(team != null){
        <div class="uk-text-center">
            <div class="uk-grid uk-margin-small-top">
                <div class="uk-panel uk-width-1-1">
                <a id="link_edit_description" href="@controllers.user.routes.Team.editDescription()" class="uk-button uk-width-1-1 uk-icon-edit uk-margin-small-bottom ui-text-white ui-button ui-mountain-meadow" style="width : 100% ; font-size : 500% ; padding : 20px ;">
                    <div id="text_edit_description" class="uk-text-bottom" style="color : #ffffff ; font-size : 30% ; font-family : 'Signika', sans-serif ;">
                        Edit Team Description</div>
                </a>
            </div>
            </div>
        </div>
    }
    @if(vote){
    <div class="uk-text-center">
        <div class="uk-grid uk-margin-small-top">
            <div class="uk-panel uk-width-1-1">
                <a id='link_vote' href="@controllers.user.routes.Vote.vote()" class="uk-button uk-width-1-1 uk-icon-thumbs-o-up uk-margin-small-bottom ui-text-white ui-button ui-dodgerblue" style="font-size: 500%; padding: 20px;">
                    <div id='text_vote' class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">Vote</div>
                </a>
            </div>
        </div>
    </div>
    }
    @if(voteResult){
    <div class="uk-text-center">
        <div class="uk-grid uk-margin-small-top">
            <div class="uk-panel uk-width-1-1">
                <a id='link_vote_result' href="@controllers.user.routes.Vote.result()" class="uk-button uk-width-1-1 uk-icon-line-chart uk-margin-small-bottom ui-text-white ui-button ui-limegreen" style="font-size : 500% ; padding : 20px ;">
                    <div id='text_vote_result' class="uk-text-bottom" style="color : #ffffff ; font-size : 30% ; font-family : 'Signika', sans-serif ;">Vote Result</div>
                </a>
              </div>
        </div>
    </div>
    }
    @if(ratingResult){
        <div class="uk-text-center">
            <div class="uk-grid uk-grid-small uk-margin-small-top">
                <div class="uk-panel uk-width-1-1">
                    <a id="link_rating_result" href="@controllers.user.routes.Rating.ratingResult()" class="uk-button uk-icon-trophy uk-margin-small-bottom ui-text-white ui-button ui-darkviolet" style="width : 100% ; font-size : 500% ; padding : 20px ;">
                        <div id="text_rating_result" class="uk-text-bottom" style="color : #ffffff ; font-size : 30% ; font-family : 'Signika', sans-serif ;">Rating Result</div>
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="uk-text-center uk-margin-large-bottom">
        <div class="uk-grid uk-grid-small uk-margin-small-top">
            <div class="uk-panel uk-width-1-1">
                <a href="@controllers.user.routes.Account.logout" class="uk-button uk-width-1-1 uk-icon-power-off uk-margin-small-bottom ui-text-white ui-button ui-redpink" style="width : 100% ; font-size : 500% ; padding : 20px ;">
                    <div class="uk-text-bottom" style="color : #ffffff ; font-size : 30% ; font-family : 'Signika', sans-serif ;">Logout</div>
                </a>
            </div>

        </div>
    </div>

    <script>
        if (!@teamList){
         $('#link_team_list').click(function(){
            return false;
         });
         $('#text_team_list').text("Team List (Disable)");
        }

        if (!@editDescription){
         $('#link_edit_description').click(function(){
            return false;
         });
         $('#text_edit_description').text("Edit Team Description (Disable)");
        }

    </script>
}

@css = {
    <script src="@routes.Assets.at("javascripts/jquery.countdown.min.js")" type="text/javascript"></script>
}