@(title: String)(css: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
        <meta property="og:url" content="https://m.exceedvote2015.cf">
        <meta property="og:site_name" content="Exceed Vote">
        <meta property="og:title" content="Vote for the best app">
        <meta property="og:description" content="Exceed camp is a camp for CPE and SKE at Kasetsart University. This camp is about software development and we will have an app contest at the end of the camp">
        <meta property="og:image:secure_url" content="@routes.Assets.at("images/ogp.jpg")" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="200" />
        <meta property="og:image:height" content="200" />
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.2/css/bootstrap.min.css")">
        <script src="@routes.Assets.at("bootstrap-3.3.2/js/bootstrap.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("uikit-2.17.0/css/uikit.almost-flat.min.css")">
        <script src="@routes.Assets.at("uikit-2.17.0/js/uikit.min.js")" type="text/javascript"></script>
        @css
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>

    </head>
    <body>
        @content
    </body>

</html>
