@(criterias: List[Criteria])(uid: String)(score: List[Integer])

@main("Rating")(css) {
    <div class="uk-grid uk-text-center uk-grid-collapse">
        <div class="uk-panel uk-width-1-6">
            <a href="@controllers.user.routes.Team.team(uid.toLong)" class="uk-button uk-icon-arrow-left ui-text-white ui-button ui-redpink" style="width:100%; padding: 18px; border-width: 0; height : 55px; font-size: large;"></a>
        </div>
        <div class="uk-width-5-6">
            <div class="uk-panel uk-panel-box ui-yellow ui-text-white" style="border-width: 0; font-size: large; height : 55px;">
                <b>Rating</b>
            </div>
        </div>
    </div>

    <script>
    function reset1(id){
    $("#rating-"+(id*5+5) ).attr('checked',false);
    $("#rating-"+(id*5+4) ).attr('checked',false);
    $("#rating-"+(id*5+3) ).attr('checked',false);
    $("#rating-"+(id*5+2) ).attr('checked',false);
    $("#rating-"+(id*5+1) ).attr('checked',false);
    }
    function colorOn(id){
    $("#noVote"+id ).css("background","gold");
    }
    function colorOff(id){
    $("#noVote"+id ).css("background","#d3d3d3");
    }
    function post() {
    var arr = "\"uid\": \"" + @uid + "\" ";
        @criterias.map { criteria =>
            @if(!criteria.name.equals("No Rate")) {
                var count = 0;
                var str = "#rating-";
                var num= @criteria.Id*5;
                for(var a =1;a<6;a++){
                var temp = str + (num+a) ;
                if ( $ ( temp ).is(':checked') ) {
                count++;
                arr+= ",\""+ @criteria.Id +"\": \"" + a + "\" ";
                }
                }
                if (count==0){
                arr+= ",\""+ @criteria.Id +"\": \"" + 0 + "\" ";
                }
            }

        }
    var obj = jQuery.parseJSON( '{ '+arr+' }' );


    $.post ( "@controllers.user.routes.Rating.ratingPost()" , obj , function( data ){
    UIkit.notify(data.text, {status : data.type , timeout : 5000});
    if(data.type == 'success'){
    setTimeout(function() {
    window.location.replace ( "@controllers.user.routes.Team.teamList()");
    }, 2000);
    }
    });

    }
    </script>
    <div class="uk-text-center">
        <div class="uk-grid uk-grid-margin uk-grid-small">
        @criterias.map { criteria =>
            @if(!criteria.name.equals("No Rate")){
                <div class="uk-panel uk-width-1-1 uk-margin-small">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-9-10 uk-container-center">
                                <div class="uk-panel uk-panel-box ">
                                    <legend>@criteria.name</legend>
                                    <form class="rating-form" action="#" method="post" name="rating-star" >
                                    @*<fieldset class="form-group">*@

                                        <legend class="form-legend">Rating:</legend>

                                        <div class="form-item" style="margin-bottom: 4%;">
                                            @if(score.size > criteria.Id && score.get(Integer.parseInt(criteria.Id+"")).equals(5)){
                                                <input id="@Criteria.toStringId(criteria.Id, 5)" name="rating" type="radio" value="5"  onclick="colorOff(@criteria.Id)"  checked />
                                            }else{
                                                <input id="@Criteria.toStringId(criteria.Id, 5)" name="rating" type="radio" value="5"  onclick="colorOff(@criteria.Id)" />
                                            }
                                            <label for="@Criteria.toStringId(criteria.Id , 5 )" data-value="5">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">5</span>
                                            </label>
                                            @if(score.size > criteria.Id && score.get(Integer.parseInt(criteria.Id+"")).equals(4)){
                                                <input id="@Criteria.toStringId(criteria.Id, 4)" name="rating" type="radio" value="4"  onclick="colorOff(@criteria.Id)" checked />
                                            }else{
                                                <input id="@Criteria.toStringId(criteria.Id, 4)" name="rating" type="radio" value="4"  onclick="colorOff(@criteria.Id)" />
                                            }
                                            <label for="@Criteria.toStringId(criteria.Id , 4 )" data-value="4">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">4</span>
                                            </label>
                                            @if(score.size > criteria.Id && score.get(Integer.parseInt(criteria.Id+"")).equals(3)){
                                                <input id="@Criteria.toStringId(criteria.Id, 3)" name="rating" type="radio" value="3"  onclick="colorOff(@criteria.Id)" checked />
                                            }else{
                                                <input id="@Criteria.toStringId(criteria.Id, 3)" name="rating" type="radio" value="3"  onclick="colorOff(@criteria.Id)" />
                                            }
                                            <label for="@Criteria.toStringId(criteria.Id , 3 )" data-value="3">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">3</span>
                                            </label>
                                            @if(score.size > criteria.Id && score.get(Integer.parseInt(criteria.Id+"")).equals(2)){
                                                <input id="@Criteria.toStringId(criteria.Id, 2)" name="rating" type="radio" value="2"  onclick="colorOff(@criteria.Id)" checked />
                                            }else{
                                                <input id="@Criteria.toStringId(criteria.Id, 2)" name="rating" type="radio" value="2"  onclick="colorOff(@criteria.Id)" />
                                            }
                                            <label for="@Criteria.toStringId(criteria.Id , 2 )" data-value="2">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">2</span>
                                            </label>
                                            @if(score.size > criteria.Id && score.get(Integer.parseInt(criteria.Id+"")).equals(1)){
                                                <input id="@Criteria.toStringId(criteria.Id, 1)" name="rating" type="radio" value="1"  onclick="colorOff(@criteria.Id)" checked />
                                            }else{
                                                <input id="@Criteria.toStringId(criteria.Id, 1)" name="rating" type="radio" value="1"  onclick="colorOff(@criteria.Id)" />
                                            }<label for="@Criteria.toStringId(criteria.Id , 1 )" data-value="1">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">1</span>
                                            </label>

                                        </div>
                                        <div class="form-action">
                                            <input id="noVote@criteria.Id" class="btn-reset" type="reset" value="No Rating" onclick="colorOn(@criteria.Id);reset1(@criteria.Id)" />
                                            @if(score.size < criteria.Id+1 || score.get(Integer.parseInt(criteria.Id+"")).equals(0)){
                                                <script>
                                                   colorOn(@criteria.Id);
                                                </script>
                                                }
                                        </div>
                                    @*</fieldset>*@
                                </form>

                                </div>
                            </div>
                        </div>
                </div>
            }
        }
        </div>
    <div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <a class="uk-button uk-button-large uk-width-1-1 ui-eucalyptus ui-text-white ui-button" style="line-height: 50px;"><div style="font-size: 150%" onclick="post()" >Submit</div></a>
        </div>
    </div>
    </div>

}

@css = {
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="@routes.Assets.at("materialize/css/materialize.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/rate.css")">

    <!-- Compiled and minified JavaScript -->
    <script src="@routes.Assets.at("materialize/js/materialize.min.js")"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("uikit-2.17.0/css/components/notify.almost-flat.min.css")">
    <script src="@routes.Assets.at("uikit-2.17.0/js/components/notify.min.js")" type="text/javascript"></script>



}
