@(group: Team)(members: List[Account])(screenshots: List[Screenshot])(rating: Boolean)

@main("Team Description")(css) {
    <div class="uk-grid uk-text-center uk-grid-collapse">
        <div class="uk-panel uk-width-1-6">
            <a href="@controllers.user.routes.Team.teamList()" class="uk-button uk-icon-arrow-left ui-text-white ui-button ui-redpink" style="width:100%; padding: 18px; border-width: 0; height : 60px;font-size: large;"></a>
        </div>
        <div class="uk-width-5-6">
            <div class="uk-panel uk-panel-box ui-yellow ui-text-white" style="height : 60px; border-width: 0;font-size: large;">
                <b>@group.name</b>
            </div>
        </div>
    </div>


    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <div class="panel panel-default border-zero-width">
                <div class="panel-heading border-zero-width" style="background-color:#16A085">
                    <h3 class="panel-title ui-text-white"><b>Description</b></h3>
                </div>
                <div class="panel-body border-zero-width ui-text-white" style="background-color:#66CC99">
                @group.description
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <div class="panel panel-default border-zero-width" >
                <div class="panel-heading border-zero-width"  style="background-color:#4B77BE">
                    <h3 class="panel-title ui-text-white"><b>Member</b></h3>
                </div>
                <div class="panel-body border-zero-width"  style="background-color:#89C4F4">
                    <ul class="ui-text-white">
                    @members.map { member =>
                        <li>@member.name @member.lastname</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <div class="panel panel-default border-zero-width" >
                <div class="panel-heading border-zero-width"  style="background-color:#ABB7B7">
                    <h3 class="panel-title ui-text-white"><b>Screenshot</b></h3>
                </div>
                <div class="panel-body border-zero-width uk-text-center  style="background-color:#ECECEC;">
                @screenshots.map { screenshot =>
                    <img class="uk-width-small-1-1 uk-width-medium-2-5 uk-border-rounded uk-margin-small"src="@screenshot.url">
                }

                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <a id='link_rating' class="uk-button uk-button-large uk-width-1-1 ui-eucalyptus ui-text-white ui-button" href="@controllers.user.routes.Rating.rating(group.id+ "")" style="line-height: 120px;">
                <div id='text_rating' style="font-size: 500%">Rate</div></a>
        </div>
    </div>
    <script>
        if (!@rating){
         $('#link_rating').click(function(){
            return false;
         });
         $('#text_rating').text($('#text_rating').text() + ' (Disable)');
        }

    </script>
}
@css = {

}
