@(form: Form[forms.Login])(createAccount: Boolean)(createTeam: Boolean)

@main("Welcome to Exceed rating")(css) {
    <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center" style="text-align: center; color: #ffffff">
            <h1 class="uk-display-inline-block" style="color: #ffffff">Exceed Vote</h1>
        </div>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            @if(form.hasGlobalErrors) {
                <div class="uk-alert uk-alert-danger">
                @form.globalError.message
                </div>
            }
            @helper.form(routes.Application.login()) {
                <div class="uk-panel uk-panel-box">

                    <div class="form-group">
                        Email
                        <input class="form-control" type="email" name="email">
                    </div>
                    <div class="form-group">
                        Password
                        <input class="form-control uk-margin-small-bottom" type="password" name="password">
                    </div>
                </div>
            </div>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">Login</button> </div>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <a id='link_register' class="uk-button uk-button-large uk-width-1-1" href="@routes.Application.regis">
                <div id='text_register'>Register</div>
            </a>
        </div>
    </div>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <a id='link_create_team' class="uk-button uk-button-large uk-width-1-1" href="@routes.Application.createTeam">
                <div id='text_create_team'>Create a team</div>
            </a>
        </div>
    </div>
}
    <script>
        if (!@createAccount){
         $('#link_register').click(function(){
            return false;
         });
         $('#text_register').text($('#text_register').text()+ ' (Disable)');
        }

        if (!@createTeam){
         $('#link_create_team').click(function(){
            return false;
         });
         $('#text_create_team').text($('#text_create_team').text()+ ' (Disable)');
        }

    </script>



}

@css = {

}