@(form: Form[forms.Login])

@main("Welcome to Exceed Vote")(css) {

        <h1 style="text-align : center ; margin-bottom : 50px ; margin-top:70px; color: #ffffff;">Exceed camp 12</h1>
    <div style="text-align : center">
    <div style="background : #ffffff ; padding:20px; padding-bottom: 30px; display: inline-block; border-radius:5px; ">

            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
            @helper.form(routes.Application.authenticate) {
                <div style="text-align : left ; display : inline-block ;">
                    Email
                    <br>
                    <input class="form-control" type="email" name="email" style="margin-bottom : 10px ; width : 200px ;">
                    <br>
                    Password<br>
                    <input class="form-control" type="password" name="password" style="width : 200px ;">
                </div>
            </div>
                <br>

                <button class="btn btn-default" type="submit" style="margin-top : 20px ; width : 130px ; background : #3498DB ;
                color : white ;
                ">Login</button>
            }
        </div>

}

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login_style.css")">
}