@(message: String)(team: String)

@main("Main menu")(css) {
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box" style="background: #000000; ;color: #ffffff">@message</div>
        </div>
    </div>
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box uk-text-center" style="background: #ffffff; color: #000000; font-size: 400%">
                <div id="clock"></div>
                <script>
                $ ( '#clock' ).countdown ( "2015/03/10 00:00:00", function ( event ) {
                var totalHours = event.offset.totalDays * 24 + event.offset.hours ;
                $ ( this ).html ( event.strftime ( totalHours + ' : %M : %S') ) ;
                } ) ;
                </script>
            </div>
        </div>
    </div>
    <div class="uk-text-center">
        <div class="uk-grid uk-grid-margin uk-grid-small">
            <div class="uk-panel uk-width-1-2">
                <a href="" class="uk-button uk-icon-qrcode uk-margin-small-bottom ui-text-white ui-button ui-limegreen" style="width:100%; font-size: 500%; padding: 20px;">
                    <div class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">QR</div>
                </a>
            </div>
            <div class="uk-panel uk-width-1-2">
                <a href="" class="uk-button uk-icon-key uk-margin-small-bottom ui-text-white ui-button ui-dodgerblue" style="width:100%; font-size: 500%; padding: 20px;">
                    <div class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">PIN</div>
                </a>
            </div>
        </div>
    </div>

    <div class="uk-text-center">
        <div class="uk-grid uk-margin-small-top">
            <a href="@routes.Application.teamList" class="uk-button uk-width-1-1 uk-icon-group uk-margin-small-bottom ui-text-white ui-button ui-darkorange" style="font-size: 500%; padding: 20px;">
                <div class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">Team list</div>
            </a>
        </div>
    </div>

    @if(!team.equals("No Team")){
        <div class="uk-text-center">
            <div class="uk-grid uk-margin-small-top uk-grid-small">
                <div class="uk-panel uk-width-1-2">
                    <a href="@routes.Application.editDescription()" class="uk-button uk-icon-edit uk-margin-small-bottom ui-text-white ui-button ui-mountain-meadow" style="width:100%; font-size: 500%; padding: 20px;">
                        <div class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">Description</div>
                    </a>
                </div>
                <div class="uk-panel uk-width-1-2">
                    <a href="@routes.Application.uploadLogo()" class="uk-button uk-icon-image uk-margin-small-bottom ui-text-white ui-button ui-hoki" style="width:100%; font-size: 500%; padding: 20px;">
                        <div class="uk-text-bottom" style="color: #ffffff; font-size: 30%; font-family: 'Signika', sans-serif;">Team Logo</div>
                    </a>
                </div>
            </div>
        </div>
        <script>
        @*filepicker.setKey("AQzjQ7dnOSUOcyy7tn4jVz");*@

            @*function upload() {*@
                @*filepicker.pick ({*@
                    @*mimetype: 'image/*',*@
                    @*maxSize: 100*100*@
                @*},*@
                @*function ( data ) {*@
                        @*$.post( "@routes.Application.uploadLogo()",*@
                        @*{*@
                            @*url : data.url*@
                        @*}*@
                        @*).done(function() {*@
@*//                         alert( "done" );*@
                        @*});*@
                @*},*@
                @*function(FPError){*@
                    @*console.log(FPError.toString());*@
                @*}*@
                @*) ;*@
            @*}*@

        </script>
    }
    <div class="uk-text-center">
        <div class="uk-grid uk-grid-small uk-margin-small-top">
            <div class="uk-panel uk-width-6-10">
                <a href="" class="uk-button uk-icon-trophy uk-margin-small-bottom ui-text-white ui-button ui-darkviolet" style="width : 100% ; font-size : 500% ; padding : 20px ;">
                    <div class="uk-text-bottom" style="color : #ffffff ; font-size : 30% ; font-family : 'Signika', sans-serif ;">Achievement</div>
                </a>
            </div>
            <div class="uk-panel uk-width-4-10">
                <a href="@routes.Application.logout" class="uk-button uk-width-4-10 uk-icon-power-off uk-margin-small-bottom ui-text-white ui-button ui-redpink" style="width : 100% ; font-size : 500% ; padding : 20px ;">
                    <div class="uk-text-bottom" style="color : #ffffff ; font-size : 30% ; font-family : 'Signika', sans-serif ;">Logout</div>
                </a>
            </div>

        </div>
    </div>
}

@css = {
    <script src="@routes.Assets.at("/public", "javascripts/jquery.countdown.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
}