@(form: Form[forms.Register])(teams: List[Team])(userType: List[UserType])

@main("Register")(css) {
    @*<h1>Register</h1>*@
    @helper.form(routes.Application.enroll) {

        <div class="uk-grid uk-grid-small uk-margin-large-top" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">

                <div class="uk-panel uk-panel-box">
                    <div class="uk-form">

                        <fieldset data-uk-margin>
                            <legend>Register</legend>
                            @if(form.hasGlobalErrors) {
                                <div class="uk-alert uk-alert-danger">
                                @form.globalError.message
                                </div>
                            }

                            <input name="email" type="email" placeholder="email" class="uk-width-1-1" value="@form.data.get("email")">


                            <input name="password" type="password" placeholder="password" class="uk-width-1-1">
                            <input name="repassword" type="password" placeholder="re-password" class="uk-width-1-1">

                            <input name="name" type="text" placeholder="name" class="uk-width-1-1" value="@form.data.get("name")">

                            <input name="lastname" type="text" placeholder="lastname" class="uk-width-1-1" value="@form.data.get("lastname")">

                            </select>

                            <select id="checker" name="type" onchange="checkType(this)" class="uk-width-1-1 ">
                                <option value="" disabled selected>&#60;type&#62;</option>

                                @userType.map { userType =>

                                    <option value="@userType.name">@userType.name</option>
                                }

                            </select>

                            <select  id="checker2" disabled name="team" class="uk-width-1-1 uk-margin-bottom">
                                <option id="checkFalse" value="" disabled selected>&#60;team&#62;</option>
                            @teams.map { team =>
                                    <option value="@team.id">@team.name</option>
                            }
                            </select>
                        </fieldset>

                    </div>
                </div>

            </div>
        </div>
        <script>
             function checkType(self) {
                 console.log(self.value);
                 if(self.value == "participant" ){
                 console.log(self.value+"2");
                  $("#checker2").attr("disabled",false);
                 }
                 else {
                 $("#checker2").attr("disabled",true);
                     $("#checkFalse" ).attr("selected", true);
                 }
        }
        </script>
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">Submit</button>
            </div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">
                <a class="uk-button uk-button-large uk-width-1-1" href="@routes.Application.login">Cancel</a>
            </div>
        </div>

    }


}

@css = {

}