@(form: Form[forms.Register])(teams: List[Team])

@main("Register")(css) {
    @*<h1>Register</h1>*@
    @helper.form(routes.Application.enroll) {

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">

                <div class="uk-panel uk-panel-box">
                    <div class="uk-form">

                        <fieldset data-uk-margin>
                            <legend>Register</legend>
                            @if(form.hasGlobalErrors) {
                                <div class="uk-alert uk-alert-danger">
                                @form.globalError.message
                                </div>
                            }

                            <input name="email" type="email" placeholder="email" class="uk-width-1-1" value="@form.data.get("email")">


                            <input name="password" type="password" placeholder="password" class="uk-width-1-1">
                            <input name="repassword" type="password" placeholder="re-password" class="uk-width-1-1">

                            <input name="name" type="text" placeholder="name" class="uk-width-1-1" value="@form.data.get("name")">

                            <input name="lastname" type="text" placeholder="lastname" class="uk-width-1-1" value="@form.data.get("lastname")">

                            <select name="team" class="uk-width-1-1">
                            @teams.map { team =>

                                    <option value="@team.id">@team.name</option>



                            }


                            </select>

                            @*<button class="uk-button uk-width-1-1">Submit</button>*@
                            @*<label><input type="checkbox"> ...</label>*@
                        </fieldset>

                    </div>
                </div>

            </div>
        </div>
        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">Submit</button>
            </div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
            <div class="uk-width-9-10 uk-container-center">
                <a class="uk-button uk-button-large uk-width-1-1" href="@routes.Application.login">Cancel</a>
            </div>
        </div>
    }


}

@css = {

}