@(group: Team)(members: List[Account])

@main("Group List")(css) {
    <div class="uk-grid uk-text-center uk-grid-collapse">
        <div class="uk-width-1-6">
            <div class="uk-panel uk-panel-box ui-red">
                <a href="@routes.Application.teamList()" class="uk-icon-hover uk-icon-small uk-icon-arrow-left" ></a>
            </div>
        </div>
        <div class="uk-width-5-6">
            <div class="uk-panel uk-panel-box ui-yellow">
            @group.name
            </div>
        </div>
    </div>


    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#FF6262">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body" style="background-color:#ff8484">
                @group.description
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <div class="panel panel-default" >
                <div class="panel-heading"  style="background-color:#B894FF">
                    <h3 class="panel-title">Member</h3>
                </div>
                <div class="panel-body"  style="background-color:#D6C2FF">
                    <ul>
                    @members.map { member =>
                        <li>@member.name @member.lastname</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-9-10 uk-container-center">
            <a class="uk-button uk-button-large uk-width-1-1" href="@routes.Application.voting">Vote</a>
        </div>
    </div>

}
@css = {

}
