@(criterias: List[Criteria])

@main("Rating")(css) {
    <div class="uk-grid uk-text-center uk-grid-collapse" style="font-size: large;">
        <div class="uk-panel uk-width-1-6">
            <a href="@routes.Application.teamList()" class="uk-button uk-icon-arrow-left uk-margin-small-bottom ui-text-white ui-button ui-redpink" style="width:100%; padding: 18px; border-width: 0; height: 100%; font-size: large;"></a>
        </div>
        <div class="uk-width-5-6">
            <div class="uk-panel uk-panel-box ui-yellow ui-text-white" style="border-width: 0;">
                <b>Rating</b>
            </div>
        </div>
    </div>

    @*<script>*@
    @*$(function () {*@
    @*$('input.check').on('change', function () {*@
    @*alert('Rating: ' + $(this).val());*@
    @*});*@
    @*$('.rating-tooltip').rating({*@
    @*extendSymbol: function (rate) {*@
    @*$(this).tooltip({*@
    @*container: 'body',*@
    @*placement: 'bottom',*@
    @*title: 'Rate ' + rate*@
    @*});*@
    @*}*@
    @*});*@
    @*$('.rating').each(function () {*@
    @*$('<span class="label label-default"></span>')*@
    @*.text($(this).val() || ' ')*@
    @*.insertAfter(this);*@
    @*});*@
    @*$('.rating').on('change', function () {*@
    @*$(this).next('.label').text($(this).val());*@
    @*});*@
    @*});*@
    @*</script>*@
    <div class="uk-text-center">
        <div class="uk-grid uk-grid-margin uk-grid-small">
        @criterias.map { criteria =>
            @if(!criteria.name.equals("No Rate")){
                <div class="uk-panel uk-width-1-1 uk-margin-small">
                    <a href="@routes.Application.voting()" class="uk-width-9-10 uk-container-center">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-9-10 uk-container-center">
                                <div class="uk-panel uk-panel-box ">
                                    <legend>@criteria.name</legend>
                                    <form class="rating-form" action="#" method="post" name="rating-movie" >
                                    <fieldset class="form-group">

                                        <legend class="form-legend">Rating:</legend>

                                        <div class="form-item">

                                            <input id="@Criteria.toStringId(criteria.Id , 5 )" name="rating" type="radio" value="5" />
                                            <label for="@Criteria.toStringId(criteria.Id , 5 )" data-value="5">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">5</span>
                                            </label>
                                            <input id="@Criteria.toStringId(criteria.Id , 4 )" name="rating" type="radio" value="4" />
                                            <label for="@Criteria.toStringId(criteria.Id , 4 )" data-value="4">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">4</span>
                                            </label>
                                            <input id="@Criteria.toStringId(criteria.Id , 3 )" name="rating" type="radio" value="3" />
                                            <label for="@Criteria.toStringId(criteria.Id , 3 )" data-value="3">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">3</span>
                                            </label>
                                            <input id="@Criteria.toStringId(criteria.Id , 2 )" name="rating" type="radio" value="2" />
                                            <label for="@Criteria.toStringId(criteria.Id , 2 )" data-value="2">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">2</span>
                                            </label>
                                            <input id="@Criteria.toStringId(criteria.Id , 1 )" name="rating" type="radio" value="1" />
                                            <label for="@Criteria.toStringId(criteria.Id , 1 )" data-value="1">
                                                <span class="rating-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="ir">1</span>
                                            </label>

                                            @*<div class="form-action">*@
                                            @*<input class="btn-reset" type="reset" value="Reset" />*@
                                            @*</div>*@

                                            @*<div class="form-output">*@
                                            @*? / 5*@
                                            @*</div>*@

                                        </div>

                                    </fieldset>
                                </form>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                @*@criteria.name*@
            }
        }
        </div>
    </div>



}
@css = {
    <script type="text/javascript" src="@routes.Assets.at("bootstrap-rating/bootstrap-rating.min.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-rating/bootstrap-rating.css")">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="@routes.Assets.at("materialize/css/materialize.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("materialize/css/rate.css")">

    <!-- Compiled and minified JavaScript -->
    <script src="@routes.Assets.at("materialize/js/materialize.min.js")"></script>

}
